*{
	padding:0;
	margin:0;
	font-family: "微软雅黑";
}
.navbar-brand{
	font-size: 35px;
	position: absolute;
	left:10px;
	width:200px;
	text-align: center;
}
#sidebarul{
	position: absolute;
	left:650px;
}
#sidebarul li{
	width:100px;
	height:50px;
	text-align: center;
}
.alldiv{
	width:1903px;
	height: 950px;
}
#div1{
	background-color:#CCCC99;
	position: relative;
}
#div1 img{
	width:200px;
	height:200px;
	position: absolute;
	top:-300px;
	left:840px;
	transition:  transform 0.5s;
	-webkit-transition:  -webkit-transform 0.5s;
}
#div1 img:hover{
	-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
#div1 h1{
	position: absolute;
	top:500px;
	left:870px;
	color: white;
	text-shadow:#000 10px 10px 10px;
	font-size:60px;
	opacity:0;
}
#div1 h2{
	position: absolute;
	top:600px;
	right:720px;
	color: rgb(248,248,248);
	font-size: 23px;
	opacity:0;
}
#div1 p{
	position: absolute;
	top:670px;
	left:780px;
	color: #666;
	font-size: 20px;
	text-align: center;
	opacity:0;
}
#div2{
	background-color:#CC9999;
	position: relative;
}
#div2 #jianjie{
	position: absolute;
	top:200px;
	left:440px;
}
#div2 h1{
	position: absolute;
	top:250px;
	left:440px;
}
#div2 #jieshao_ul{
	position: absolute;
	top:400px;
	left:440px;
	list-style: none;
}
#div2 #jieshao_ul li{
	height:50px;
	line-height: 30px;
	font-size: 23px;
	color: white;
}
#div2 #jieshao_ul2{
	position: absolute;
	top:400px;
	left:1040px;
	list-style: none;
}
#div2 #jieshao_ul2 li{
	height:50px;
	line-height: 30px;
	font-size: 23px;
	color: white;
}
#div2 #jieshao_ul2 span{
	color: #003366;
}
#div3{
	background-color:#666;
	position: relative;
}
#div3 #jinengdian{
	position: absolute;
	top:300px;
	left:880px;
	color:white;
}
#biaoqian{
	position: absolute;
	top:400px;
	left:610px;
	width:700px;
	height:300px;
}
#biaoqian h1{
	float:left;
	margin:10px 20px;

}

#div4{
	background-color: #FFCC99;
	position: relative;
}
#div4 .img-thumbnail{
	width:500px;
	height:250px
}
#div4 p{
	color:white;
	font-size: 15px;
	width:500px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	margin:20px 5px;
}
#div4 >div{
	width:500px;
	height: 400px;
	float: left;
	margin:50px 220px;
}
#summary-container{
	position: absolute;
	top:600px;
	left:150px;
	text-align: center;
}
#div5{
	background-color: #99CCCC;
	position: relative;
}
#div5 h1{
	position: absolute;
	top:250px;
	left:810px;
	font-size: 70px;
}
#div5 h2{
	position: absolute;
	top:370px;
	left:820px;
}
#div5 h3{
	position: absolute;
	top:440px;
	left:860px;
}
#div5 h4{
	position: absolute;
	top:510px;
	left:830px;
}
#div5 h3 span{
	color:white;
}
#div6{
	background-color: #339999;
	position: relative;
}
#div6 h1{
	position: absolute;
	top:200px;
	left:650px;
	font-size: 70px;
}
#div6 p{
	display: block;
	margin:0 auto;
	font-size: 25px;
}
#div6 >div{
	position: absolute;
	top:400px;
	left:780px;
}
#div6 >div p{
	margin:10px;
}
#div6 >div p span{
	color: white;
}
#div6 >div p a{
	text-decoration: none;
	color: black;
}
